{% load static %}
<!DOCTYPE html>
<html lang="UTF-8">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>user reset password</title>
</head>

<body>
    <div style="max-width:960px; margin:0 auto">
        <div style="padding-right:.9375rem;padding-left:.9375rem;margin-right:auto;margin-left:auto" class="container">
            <br>
            <div style="padding-right:.9375rem;padding-left:.9375rem;margin-right:auto;margin-left:auto">
                <h2 style="font-weight:300;font-size:42px;margin-top:10px;text-align:center;color:#5cb85c">
                    <img src="{% static '/images/logo.svg' %}" width="75" style="margin:auto;display:block">
                    Asura
                </h2>
                <div style="padding-right:.9375rem;padding-left:.9375rem;margin-right:auto;margin-left:auto"
                    class="container">
                    <div style="position:relative;display:block;margin-bottom:.75rem;background-color:#fff;border:1px solid
#e5e5e5;border-radius:.25rem;padding:1.25rem" class="card card-block">
                        <p>Click the link below to change your password:</p>
                        <p style="text-align:center !important" class=" text-xs-center">
                            <a href="{{ url }}"
                                style="text-decoration:none;display:inline-block;padding:.375rem 1rem;font-size:1rem;font-weight:normal;line-height:1.5;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;border-radius:.25rem;color:#fff;background-color:#0275d8;border-color:#0275d8"
                                class=" btn btn-primary">Set a new password
                            </a>
                        </p>
                        <hr style="margin-top:1rem;margin-bottom:1rem;border:0;border-top:1px solid rgba(0, 0, 0, .1)">
                        <p>
                            <small style="color:#818a91" class=" text-muted">
                                You received this email because you requested a password reset.
                            </small>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>